body {
    padding: 2em;
    background-color: rgb(224, 227, 238);
}

@media (min-width: 650px) {
    .wrapper {
        display: grid;
        /*grid-template-columns: repeat(2, 1fr);*/ /* same as below */
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    /* show project info only on narrow screen when projects are not separated to left and right sides of the page*/
    .narrow_screen_project_info {
        display: none;
    }
}


.wrapper > * {
    background-color: rgb(224, 241, 241);
    padding: 1em;
}

img {
    height: 200px;
    width: 500px;
}

.img_2 {
    height: 200px;
    width: 800px;
}